/*This is the universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This is the webpage background color*/
body {
    background-color: #f0f0f0;
}

.nav-link:hover {
  color: #000;
  background-color: #fff;
}

#searchBar {
  margin: 10px auto 10px auto;
  width: 50%;
}
.main {
  width: 100%;
}

#binTitle {
  margin-left: 20px;
  line-height: 10px;
}

#bin {
  font-size: 30px;
}

#timestamp {
  font-size: 10px;
}

#binInfo,
#palletInfo {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}

#binInfo {
  height: 110px;
  background-image: url("assets/images/binInfo.PNG");
}

#searchButtons {
  margin: 10px;
}

#palletInfo p {
  font-weight: 400;
  font-size: 20px;
  padding-left: 20px;
}